<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Teacher List</title>
    <link rel="stylesheet" href="/main.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>Teacher List</h1>
<br/><br/>
<div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th>
                    <a class="btn btn-primary" href="addTeacher">Add Teachers</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each ="teacher : ${teachers}">
                <td th:utext="${teacher.firstName}">...</td>
                <td th:utext="${teacher.lastName}">...</td>
                <td><a class="btn btn-secondary" th:href="@{/showTeacherUpdateForm/{id}(id=${teacher.id})}">Update</a>
                    <a class="btn btn-secondary" th:href="@{/deleteTeacher/{id}(id=${teacher.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-light" href="/">return</a>
</body>
</html>