<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Subject List</title>
    <link rel="stylesheet" href="/main.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>Subject List</h1>
<br/><br/>
<div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Description</th>
                <th scope="col">Submit by</th>
                <th scope="col">Secondary</th>
                <th>
                    <a class="btn btn-primary" href="addSubject">Add Subjects</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each ="subject : ${subjects}">
                <td th:utext="${subject.subjectName}">...</td>
                <td style="min-width: 128px; max-width: 512px;" th:utext="${subject.subjectDescription}">...</td>
                <td th:utext="${subject.userInCharge.lastName}">...</td>
                <td>
                    <table class="table">
                        <tbody>
                            <tr th:each="secondary :${subject.secondaryInCharge}">
                                <td th:utext="${secondary.lastName}">...</td> 
                            </tr>
                        </tbody>
                    </table>
                </td>
                
                <td><a class="btn btn-secondary" th:href="@{/updateSubject/{id}(id=${subject.id})}">Update</a>
                    <a class="btn btn-secondary" th:href="@{/deleteSubject/{id}(id=${subject.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-light" href="/">return</a>
</body>
</html>