<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Student</title>
    <link rel="stylesheet" href="/main.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>Update a Subject</h1>

<form th:action="@{/updateSubject}"
      th:object="${subjectForm}" method="POST">
    <input type="hidden" th:field="*{id}" />
    Subject:
    <input type="text" th:field="*{subjectName}"/>
    <br/>
    <br/>
    Description:
    <br/>
    <br/>
    <textarea rows="5" cols="33" maxlength="255" th:field="*{subjectDescription}"></textarea>
    <br/>
    <br/>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Secondary in charge</th>
            <th scope="col">
                <button class="btn btn-secondary" type="submit" name="addSecondaryUpdate">Add Secondary in charge</button>
            </th>
        </thead>
        <tbody>
            <tr th:each="secondary,secondaryStat :*{secondaryInCharge}">
                <td th:text="${secondaryStat.count}">1</td>
                <td>
                    <select th:field="*{secondaryInCharge[__${secondaryStat.index}__]}">
                        <option th:each="teacher :${allTeachers}" th:value="${teacher.id}" th:text="${teacher.lastName}"></option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-secondary" type="submit" name="removeSecondaryUpdate" th:value="${secondaryStat.index}">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <input class="btn btn-primary" type="submit" value="Update"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

<a class="btn btn-light" th:href="@{/listSubjects}">return</a>
</body>
</html>